body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item{
  margin-right: 40px;
  color: white;
}

#supportHero{
  color: white;
  background-color: rgb(56, 126, 209);
}

#supportHero a{
  color: white;
  margin-left: 15px;
  line-height: 10px;
  
  
}

#supportWrapper{
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0, 150px;
  
}

#supportHero input{
  padding: 20px 50px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
